<?xml version="1.0" encoding="utf-8"?>
<!--

This publish profile is used to publish the build version of the app using

npm run tauri build

Configure it to your needs. See the beforeBuildCommand in tauri.config.json

https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>..\src-tauri\services\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishSingleFile>true</PublishSingleFile>
    <!-- PublishAot true does NOT work - it causes CORS errors in the front-end! -->
    <PublishAot>false</PublishAot>
    <ProjectGuid>df776d11-5858-45d9-9b66-41d9087fd615</ProjectGuid>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>